<div class="container-fluide ">
  <div class="row min-height mx-auto align-items-center justify-content-center">
    <div class="col-7 mx-auto bg-danger py-3">
      <h1 class="text-capitalize text-white text-center">
        {{config.title}}
      </h1>
    </div>
    <div class="col-7 mx-auto bg-primary py-3">
      <form class="row justify-content-around">
        <div class="form-group col-4">
          <label for="zad" class="text-uppercase text-white">Podaj zadanie</label>
          <input type="text" class="form-control" id="zad" name="zad" [(ngModel)]="task" (keyup)="task">
        </div>
        <div class="form-group col-2">
          <label for="date" class="text-uppercase text-white">podaj date</label>
          <input type="date" class="form-control" id="date" name="date" [(ngModel)]="taskDate">
        </div>
        <button type="button" class="btn btn-success col-2 my-2 mx-2 text-uppercase text-dark font-weight-bold" [disabled]="task === ''" (click)="add()">dodaj</button>
      </form>
    </div>
    <div class="col-7 mx-auto bg-success py-3 px-2">
      <ul class="list-group" *ngFor="let item of tasks; let index = index">
        <li class="list-group-item d-flex justify-content-around align-items-center" >
          <ng-container *ngIf="!item.done; then trueT; else falseT"></ng-container>
            <ng-template #trueT>
              <div class="w-75 m-0 p-0">{{index + 1}}. {{item.name}} - {{item.deadline | date: 'd.MM EEEE':'':'pl'}}</div>
              <div class="w-25">
                <button class="btn button-plus mx-2 p-0" (click)="zrobione(item)">v</button>
                <button class="btn button-minus mx-2 p-0">x</button>
              </div>
            </ng-template>
            <ng-template #falseT>
              <del>
              <div class="w-75 m-0 p-0">{{index + 1}}. {{item.name}} - {{item.deadline | date: 'd.MM EEEE':'':'pl'}}</div>
            </del>
            </ng-template>





        </li>
      </ul>
    </div>
    <div class="col-7 mx-auto">
      <button class="btn btn-outline-danger text-uppercase w-100" (click)="clear()">wyczysc</button>
    </div>
    <div class="col-7 mx-auto justify-content-center">
      <footer>{{config.footer}}</footer>
    </div>
  </div>
</div>

